# dependencies
node_modules

# next
.next
.next-dev
out

# env files
.env
.env.local
.env.development
.env.production

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# prisma
prisma/*.db
prisma/*.db-journal

# system files
.DS_Store
Thumbs.db